{% if request.user.is_authenticated %}
  <!--begin::Topbar-->
<div class="d-flex align-items-stretch flex-shrink-0">
    <!--begin::Toolbar wrapper-->
    <div class="topbar d-flex align-items-stretch flex-shrink-0">
        <!--begin::User-->
        <div class="d-flex align-items-center me-n3 ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
            <!--begin::Menu wrapper-->
            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
                <img class="h-25px w-25px rounded" src="/media/{{request.user.profile.profileimg}}" alt="" />
            </div>
            <!--begin::Menu-->
            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <div class="menu-content d-flex align-items-center px-3">
                        <!--begin::Avatar-->
                        <div class="symbol symbol-50px me-5">
                            <img alt="Logo" src="/media/{{request.user.profile.profileimg}}" />
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Username-->
                        <div class="d-flex flex-column">
                            <div class="fw-bolder d-flex align-items-center fs-5">{{request.user.first_name}} {{request.user.last_name}}
                            {% if request.user.profile.role == 'Subscriber' %}
                                <a class="badge badge-light-warning fw-bolder ms-2 fs-8 py-1 px-3">{{request.user.profile.membership}}</a>
                                {% else %}
                                <a class="badge badge-light-primary fw-bolder ms-2 fs-8 py-1 px-3">{{request.user.profile.membership}}</a>
                            {% endif %}</div>
                            <a href="mailto:{{request.user.email}}" class="fw-bold text-muted text-hover-primary fs-7">{{request.user.email}}</a>
                        </div>
                        <!--end::Username-->
                    </div>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu separator-->
                <div class="separator my-2"></div>
                <!--end::Menu separator-->
                <!--begin::Menu item-->
                <div class="menu-item px-5">
                    <a href="/profile" class="menu-link px-5">My Profile</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-5 my-1">
                    <a href="/settings" class="menu-link px-5">Account Settings</a>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-5">
                    <a href="/refer-and-earn" class="menu-link px-5">Refer and Earn</a>
                </div>
                <!--end::Menu item-->
                {% if request.user.is_superuser %}
                    <!--begin::Menu item-->
                <div class="menu-item px-5 my-1">
                    <a href="/add-product" class="menu-link px-5">Add Product</a>
                </div>
                <!--end::Menu item-->
                {% endif %}
                <!--begin::Menu item-->
                <div class="menu-item px-5">
                    <a href="/logout" class="menu-link px-5">Sign Out</a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->
            <!--end::Menu wrapper-->
        </div>
        <!--end::User -->
        <!--begin::Aside mobile toggle-->
        <!--end::Aside mobile toggle-->
    </div>
    <!--end::Toolbar wrapper-->
</div>
<!--end::Topbar-->
{% else %}
{% include 'accounts/register.html' %}
{% include 'accounts/login.html' %}
{% include 'accounts/forgot-password.html' %}
{% endif %}