{% extends 'base.html' %}
{% block title %} About Us - GrabbersAdda {% endblock title %}  
{% block content %}

 <div>
    <h1 style="text-align: center;">
        <span style="font-size: x-large;">About Us!</span>
    </h1>
    <p style="text-align: center;"><br /></p>
    <p style="font-size: 18px;">GrabbersAdda is an initiative to provide Latest Shopping Deals, Loot Offers, Cashback offers, Free Recharge Apps, Free Cashback and much More. It was created by Ajay Patel during the Pandemic in 2021. <br /></p>
    <p style="text-align: center;"><br /></p>
    <p style="font-size: 18px;">
        We're dedicated to providing you the best of Shopping Deals and Offers, with a focus on dependability and Every hour new deals.
        <br />
        <br />
    </p>
    <p style="font-size: 18px;">We're working to turn our passion for Affiliate Marketing into a booming online website. We hope you enjoy these Deals, Offers and tricks provided by Us.</p>
    <div style="text-align: center;"><br /></div>
    <div style="text-align: center;">
    <a href="/contact" class="btn btn-primary"> Contact Us</a>
    </div>
</div>


{% endblock content %}

  

