{% extends 'base.html' %}
{% block title %} {% if product %}
    Update Product - {{product.title}}
    {% else %}
    Add Product - {{site.title}}
{% endif %} {% endblock title %}
{% block head %}
<script src="/static/plugins/ckeditor/ckeditor-classic.bundle.js"></script>  
{% endblock head %}
   

{% block content %}

<div class="w-lg-800px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
			<!--begin::Authentication - 404 Page-->
            <h3 class="fw-bold text-center fs-2 mb-5">Add a Product</h3>
                <form action="{% if product %}/update-product{% else %}/postproduct{% endif %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Title</label>
                        <input class="form-control form-control-lg maxlength" type="text" value="{{product.title}}" maxlength="80" placeholder="Enter Product Title" name="title" required="">
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Slug</label>
                        <input class="form-control form-control-lg maxlength" type="text" value="{{product.slug}}" maxlength="50" id="p-slug" placeholder="Enter Product Slug" name="slug" required="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Select Store</label>
                                <select name="store" aria-label="Select a Store" data-control="select2" data-placeholder="Select a Store" class="form-select form-select-solid form-select-lg fw-bold select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    {% for s in store %}
                                      <option value="{{s.id}}" {% if product.store.id == s.id %}selected{% endif %} >{{s.title}}</option>
                                    {% endfor %}
                                </select>
						    </div>
                        </div>
                        <div class="col-md-6">
                            <div class=" fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Select Category</label>
                                <select name="category" aria-label="Select a Category" data-control="select2" data-placeholder="Select a Category" class="form-select form-select-solid form-select-lg fw-bold select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    {% for c in category %}
                                      <option value="{{c.id}}" {% if product.category.id == c.id %}selected{% endif %}>{{c.title}}</option>
                                    {% endfor %}
                                </select>
						    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Sale Price</label>
                                <input class="form-control form-control-lg" type="text" id="sprice" value="{{product.sale_price}}" placeholder="Sale Price" name="sale" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Original Price</label>
                                <input class="form-control form-control-lg" type="text" id="oprice" value="{{product.original_price}}" placeholder="Original Price" name="original" required="">
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Affiliate Link</label>
                        <input class="form-control form-control-lg maxlength" type="text" value="{{product.affiliate_link}}" maxlength="100" placeholder="Enter Affiliate Link" name="afflink" required="">
                    </div>
                   <div class="row">
                        <div class="col-lg-6 fv-row mb-7 fv-plugins-icon-container">
                            <label class="form-label fw-bolder text-dark fs-6">Coupon</label>
                            <input class="form-control form-control-lg maxlength" type="text" value="{{product.coupon}}" maxlength="80" placeholder="Enter Coupon Code (if Any)" name="coupon">
                        </div>
                        <div class="mb-0 col-lg-6">
                            <label for="" class="form-label">Select Expiry Date</label>
                            <input class="form-control form-control-solid" name="expiry" value="{{product.expiry|date:'Y-m-d'}}" placeholder="Pick a date" id="exp_date"/>
                        </div>
                   </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Offer</label>
                        <input class="form-control form-control-lg maxlength" type="text" value="{{product.offers}}" maxlength="120" placeholder="Enter Offer (if Any)" name="offers">
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Product Description</label>
                        <textarea class="form-control maxlength form-control-lg" type="text" rows="3" maxlength="150" placeholder="Enter Product Description" name="desc" required="">
                            {{product.description}}
                        </textarea>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Product Detail</label>
                        <textarea name="content" id="product_content">
                            {{product.content}}
                        </textarea>
                    </div>
                    <div class="mb-10">
                        <div class="image-input image-input-empty" data-kt-image-input="true" style="background-image: url({% if product.thumbnail %}
                            /media/{{product.thumbnail}}
                            {% else %}
                            https://picsum.photos/200
                        {% endif %})">
                            <!--begin::Image preview wrapper-->
                            <div class="image-input-wrapper w-125px h-125px"></div>
                            <!--end::Image preview wrapper-->

                            <!--begin::Edit button-->
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                data-kt-image-input-action="change"
                                data-bs-toggle="tooltip"
                                data-bs-dismiss="click"
                                title="Change avatar">
                                <i class="bi bi-pencil-fill fs-7"></i>

                                <!--begin::Inputs-->
                                <input type="file" name="thumbnail" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="avatar_remove" />
                                <!--end::Inputs-->
                            </label>
                            <!--end::Edit button-->

                            <!--begin::Cancel button-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                data-kt-image-input-action="cancel"
                                data-bs-toggle="tooltip"
                                data-bs-dismiss="click"
                                title="Cancel avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Cancel button-->

                            <!--begin::Remove button-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                                data-kt-image-input-action="remove"
                                data-bs-toggle="tooltip"
                                data-bs-dismiss="click"
                                title="Remove avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <!--end::Remove button-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-5">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input h-20px w-30px" type="checkbox" value="yes"  {% if product.price_compare is True %}checked="checked"{% endif %} name="price_comp" />
                                <label class="form-check-label" for="flexSwitchDefault">
                                    Enable Price Comparison
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-5">
                            <div class="form-check form-switch form-check-custom form-check-solid">
                                <input class="form-check-input h-20px w-30px" type="checkbox" value="yes" {% if product.pinned is True %}checked="checked"{% endif %} name="topdeals" />
                                <label class="form-check-label" for="flexSwitchDefault">
                                    Enable Top Deals
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-10">
                        <label class="form-label">Enter Keywords/Tags</label>
                        <input class="form-control" name="tags" value="{{product.tags}}" id="tags"/>
                    </div>
                    <input type="text" name="id" value="{{product.id}}" hidden>
                    <div class="mb-10">
                        <button class="btn btn-primary float-end" placeholder="Enter Keywords/Tags here" type="submit">{% if product %}Update {% else %}Publish{% endif %}</button>
                    </div>              
                </form>
            
			<!--end::Authentication - 404 Page-->
		</div>
{% endblock content %}
  {% block script %}
   <script>
        ClassicEditor
        .create(document.querySelector('#product_content'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
  </script>
  <script>
    $('.maxlength').maxlength({
    warningClass: "badge badge-warning",
    limitReachedClass: "badge badge-success"
});
  </script>
  <script>
    $("#exp_date").flatpickr();
    var input1 = document.querySelector("#tags");
    new Tagify(input1)
  </script>
  {% endblock script %}
 

