{% extends 'base.html' %}
{% block title %} Add Product - {{site.title}} {% endblock title %}
{% block head %}
<script src="/static/plugins/ckeditor/ckeditor-classic.bundle.js"></script>  
{% endblock head %}
   

{% block content %}

<div class="w-lg-800px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
			<!--begin::Authentication - 404 Page-->
            <h3 class="fw-bold text-center fs-2 mb-5">Add a Product</h3>
				<form action="/add-product" method="post">{% csrf_token %}
                    <div class="me-md-2">
                        <div class="input-group mb-3 px-7">
                            <input type="text" name="link" id="link" placeholder="Enter the link" class="input form-control">
                            <span onclick="scrap()" class="input-group-text btn btn-light-primary">Scrape Now</span>
                        </div>
                    </div>
                </form>
                <div class="d-flex align-items-center my-10">
                    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
                    <span class="fw-bold text-gray-400 fs-7 mx-2">OR</span>
                    <div class="border-bottom border-gray-300 mw-50 w-100"></div>
                </div>
                <form action="/postproduct" method="post">{% csrf_token %}
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Title</label>
                        <input class="form-control form-control-lg" type="text" id="p-title" placeholder="Enter Product Title" name="title" required="">
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Slug</label>
                        <input class="form-control form-control-lg" type="text" id="p-slug" placeholder="Enter Product Slug" name="slug" required="">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Select Store</label>
                                <select name="store" aria-label="Select a Store" data-control="select2" data-placeholder="Select a Store" class="form-select form-select-solid form-select-lg fw-bold select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    {% for s in store %}
                                      <option value="{{s.id}}">{{s.title}}</option>
                                    {% endfor %}
                                </select>
						    </div>
                        </div>
                        <div class="col-md-6">
                            <div class=" fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Select Category</label>
                                <select name="category" aria-label="Select a Category" data-control="select2" data-placeholder="Select a Category" class="form-select form-select-solid form-select-lg fw-bold select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                    {% for c in category %}
                                      <option value="{{c.id}}">{{c.title}}</option>
                                    {% endfor %}
                                </select>
						    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Sale Price</label>
                                <input class="form-control form-control-lg" type="text" id="sprice" placeholder="Sale Price" name="sale" required="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="fv-row mb-7 fv-plugins-icon-container">
                                <label class="form-label fw-bolder text-dark fs-6">Original Price</label>
                                <input class="form-control form-control-lg" type="text" id="oprice" placeholder="Original Price" name="original" required="">
                            </div>
                        </div>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Product Description</label>
                        <textarea class="form-control form-control-lg" type="text" rows="3" id="p-desc" placeholder="Enter Product Description" name="desc" required=""></textarea>
                    </div>
                    <div class="fv-row mb-7 fv-plugins-icon-container">
                        <label class="form-label fw-bolder text-dark fs-6">Product Detail</label>
                        <textarea name="content" id="product_content">
                            <div id="pcontent">

                            </div>
                        </textarea>
                    </div>
                     <div class="mb-10">
                    <button class="btn btn-primary float-end" type="submit">Publish</button>

                     </div>              
                                    </form>
            
			<!--end::Authentication - 404 Page-->
		</div>
{% endblock content %}
  {% block script %}
   <script>
        ClassicEditor
        .create(document.querySelector('#product_content'))
        .then(editor => {
            console.log(editor);
        })
        .catch(error => {
            console.error(error);
        });
  </script>
   <script>
        function scrap(){
             $.ajax({
            type: "GET",
            url: '/scrap',
            data:{
                link:$('#link').val(),
            },
            success: function(data){
                $("#p-title").val(data['title']);
                $("#sprice").val(data.sprice);
                $("#oprice").val(data.oprice);
                $("#pcontent").val(data.oprice);
            }
        })
        }
   </script>
  {% endblock script %}
 

