{% extends 'base.html' %}
{% block title %}
{% if category %}
 {{category.title}} - {{site.title}}
{% elif store %}
{{store.title}} - {{site.title}}
{% elif search %}
Search Results: {{search}} - {{site.title}}
 {% else %}
 {{site.title}} - {{site.tagline}}
{% endif %}
{% endblock title %}
{% block mdescription %}
   {% if category %}
	  {{category.description}}
	{% else %}
	{{site.description}}
   {% endif %}
{% endblock mdescription %}

{% block mtitle %}
	{% if category %}
	  {{category.title}} - {{site.title}}
	{% else %}
	GrabbersAdda - Best Deals and Offers
   {% endif %}
{% endblock mtitle %}



{% block ogtitle %}
	{% if category %}
	{{category.title}} - {{site.title}}
	{% else %}
	{{site.title}} - {{site.tagline}}
	{% endif %}
{% endblock ogtitle %}
{% block ogdescription %}
	{% if category %}
	{{category.description}}
	{% else %}
	{{site.description}}
	{% endif %}
{% endblock ogdescription %} 
{% block ogurl %}
	{% if category %}
	{{site.url}}/category/{{category.slug}}
	{% else %}
	{{site.url}}
	{% endif %}
{% endblock ogurl %}
{% block ogimage %}{{site.url}}/media/{{site.featureimg}}{% endblock ogimage %}  
{% block ogimagealt %}{{site.title}} - {{site.tagline}} {% endblock ogimagealt %} 
{% block pagetitle %} 
  {% if category %}
  Category: {{category.title}}
  {% elif store %}
  Store: {{store.title}}
  {% elif search %}
  Search: {{search}}
{% endif %}  

{% endblock pagetitle %}

{% block content %}
{% load custom_tags %}
{% load humanize %}

<!--Feature Deals Starts Here-->
{% if fdeals %}
<div class="carousel mb-8 carousel-custom slide" data-bs-ride="carousel" data-bs-interval="3000">
<!--begin::Carousel-->
<div class="carousel-inner">
	{% for f in fdeals %}
	<!--begin::Item-->
	<div class="carousel-item {% if forloop.first %}active{% endif %} ">
		<center>
			<a href="/shop/{{f.title.slug}}">
				<img class="rounded w-100" src="/media/{{f.image}}" alt="{{f.title.title}}">
			</a>
		</center>
	</div>
	<!--end::Item-->
	{% endfor %}
</div>
<!--end::Carousel-->
</div>
{% endif %}
<!--Feature Deals Ends Here-->
	{% if results %}
		<div class="my-5 text-center">
			<img src="/static/svg/error-404.svg" class="w-200px" alt="">
			<div class="fs-2 my-2 fw-bold">Nothing to See Here</div>
			<a href="/" class="btn my-3 btn-primary">Return Home</a>
		</div>
		<div class="fs-2 fw-bolder mb-4">
			Recent Deals
		</div>
	{% endif %}
	{% if topdeals %}
		{% include 'products/pinned-deals.html' %}
			<div class="latest-deal-heading mb-3">
				<span class="fs-2 fw-bolder">Latest Deals and Offers</span>
			</div>
	{% endif %}
   <div class="row g-10">
			{% for p in products %}
			  <!--begin::Col-->
			<div class="col-md-4 col-sm-4 col-lg-3">
				<!--begin::Hot sales post-->
				<div class="card p-5 ribbon ribbon-top">
					<!--begin::Overlay-->
					
					<div class="ribbon-label bg-primary"> {% discountp p.original_price p.sale_price %}% Off </div>
					
					<a class="" href="/shop/{{p.slug}}">
						<!--begin::Image-->
						<center><img src="/media/{{p.thumbnail}}" class="h-200px rounded align-items-center" alt="{{p.title}}"></center>
						<!--end::Image-->
						
					</a>
					<!--end::Overlay-->
					<!--begin::Body-->
					<div class="mt-5">
						<!--begin::Title-->
						<a href="/shop/{{p.slug}}" class="fs-5 text-dark fw-bolder text-hover-primary text-dark lh-base">{{p.title | truncatechars:50}}</a>
						<!--end::Title-->
						<!--begin::Text-->
						<div class="fw-bold fs-5 text-gray-600 text-dark mt-3"></div>
						<!--end::Text-->
						<!--begin::Text-->
						<div class="fs-4 fw-bolder mt-5 d-flex flex-stack">
							<!--begin::Label-->
							<span class="badge border-dashed fs-4 fw-bolder text-dark p-2">
							{% if p.sale_price == 0 %}
							FREE
							{% else %}
							<span class="fs-6 fw-bold text-gray-400">₹</span>{{p.sale_price}}
							{% endif %}
							</span>
							
							<!--end::Label-->
							<!--begin::Action-->
							
								{% if p.expiry > date %}
									<a href="/shop/{{p.slug}}" class="btn-sm text-white btn-danger">
									Expired </a>
								{% else %}
								<a href="/shop/{{p.slug}}" class="btn-sm text-white btn-primary">
									{% if p.category.title == 'Amazon Quiz' or p.category.title == 'Flipkart Quiz' %}
									Play Now
									{% elif p.store.title == 'Amazon' or p.store.title == 'Flipkart' or p.store.title == 'Tata Cliq' or p.store.title == 'Paytm Mall' %}
									Buy Now 
									{% else %}
									Read More
									{% endif %}
								</a>
								{% endif %}
							<!--end::Action-->
						</div>
						<div class="float-start mt-4">
						  <i><i class="far fa-clock mx-1"></i>{{p.date | naturaltime}}</i>
						</div>
						{% if request.user.is_superuser %}
							<div class="float-end mt-4">
							<a href="/edit-product?id={{p.id}}">Edit Post</a>
						</div>
						{% endif %}
						<!--end::Text-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Hot sales post-->
			</div>
			<!--end::Col-->
			
			{% endfor %}
		</div>
		{% if results %}
		{% else %}
		<ul class="pagination my-10">
		{% if products.number != 1 and products.previous_page_number is not 1%}
	<li class="page-item next"><a class="page-link" href="/">First</span></a></li>
	{% endif %}
		{% if products.has_previous %}
		    <li class="page-item previous"><a href="?page={{products.previous_page_number}}" class="page-link">Previous</a></span></li>
		{% endif %}

    <li class="page-item disabled"><span class="page-link">Page {{products.number}} of {{products.paginator.num_pages}}</span></li>
    {% if products.has_next %}
	 <li class="page-item next"><a class="page-link" href="?page={{products.next_page_number}}">Next</span></a></li>
	{% endif %}
	{% if products.number != products.paginator.num_pages and products.next_page_number != products.paginator.num_pages %}
	<li class="page-item next"><a class="page-link" href="?page={{products.paginator.num_pages}}">Last</span></a></li>
	{% endif %}
</ul>

		{% endif %}
{% endblock content %}
  
