<html lang="en">
    <!--begin::Head-->
    <head>
        <title>Redirecting to {{product.store.title}}</title>
        <meta
            name="description"
            content="{{site.description}}"
        />
        <meta
            name="keywords"
            content="{{site.keywords}}"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="canonical" href="{{site.url}}" />
        <link rel="shortcut icon" href="/media/{{site.siteicon}}" />
        <!--begin::Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
        <!--end::Fonts-->
        <!--begin::Global Stylesheets Bundle(used by all pages)-->
        <link href="/static/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Global Stylesheets Bundle-->
    </head>
    <!--end::Head-->
    <!--begin::Body-->
    <body>
        <!--begin::Main-->
        <div class="d-flex flex-column flex-root">
            <!--begin::Authentication - Signup Verify Email -->
            <div class="d-flex flex-column flex-column-fluid">
                <!--begin::Content-->
                <div class="card justify-content-center d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
                    <!--begin::Wrapper-->
                    <div class="pt-lg-10 mb-10">
                        <!--begin::Logo-->
                        <h2 class="fw-bolder text-gray-800 mb-7">Redirecting to Partner Site</h2>
                        <!--end::Logo-->
                        <!--begin::Message-->
                        <div class="fs-3 fw-bold text-muted mb-10">
                            <img src="/media/{{product.store.storeimg}}" style="width:200px;" alt="">
                        </div>
                        <!--end::Message-->
                        <button type="button" class="btn btn-primary" data-kt-indicator="on">
                            <span class="indicator-label">
                                Submit
                            </span>
                            <span class="indicator-progress">
                                Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                <div class="d-flex flex-center flex-column-auto p-10">
                    <!--begin::Links-->
                    <div class="d-flex align-items-center fw-bold fs-6">
                        <a href="{{site.url}}" class="text-muted text-hover-primary px-2">{{site.title}}</a>
                        <a href="mailto:{{site.email}}" class="text-muted text-hover-primary px-2">Contact</a>
                        <a href="/" class="text-muted text-hover-primary px-2">Shop</a>
                    </div>
                    <!--end::Links-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Authentication - Signup Verify Email-->
        </div>
        <!--end::Main-->
       
        <!--begin::Javascript-->
        <!--begin::Global Javascript Bundle(used by all pages)-->
        <script src="/static/plugins/global/plugins.bundle.js"></script>
        <script src="/static/js/scripts.bundle.js"></script>
        <script>
        setTimeout(function(){
            window.location.href = '{{product.affiliate_link}}';
         }, 3000);

        </script>
        <!--end::Global Javascript Bundle-->
        <!--end::Javascript-->
    </body>
</html>
