{% extends 'base.html' %}
{% block title %} {{store.title}} - {{site.title}} {% endblock title %}
{% block description %} {{store.description}} {% endblock description %}
{% block mtitle %} {{store.title}} - {{site.title}} {% endblock mtitle %}  
{% block ogtitle %}{{store.title}} {{site.title}}{% endblock ogtitle %}
{% block ogdescription %}{{store.description}}{% endblock ogdescription %} 
{% block ogurl %}{{site.url}}/store/{{store.slug}}{% endblock ogurl %}
{% block ogimage %}{{site.url}}/media/{{store.storeimg}}{% endblock ogimage %}  
{% block ogimagealt %}{{store.title}} - {{site.title}} {% endblock ogimagealt %} 
{% block content %}
{% load custom_tags %}
{% load humanize %}
{% load mathfilters %}
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="col">
                <div class="card">
                <div class="card-body text-center">
                <div class="card-title mt-10">
                        <img src="/media/{{store.storeimg}}" class="w-100 mb-5 px-8" alt="{{store.title}}">
                    </div>
                    <div class="my-3 fw-bolder">
                        Total Deals: {{store.products_set.count}}
                    </div>
                    <a href="{{store.afflink}}" target="_blank" class="btn btn-primary">
                        Visit Store<i class="fas mx-2 fa-external-link-alt"></i>
                    </a>
                    
                    <div class="my-3">
                        {{store.description}}
                    </div>
                </div>
            </div>
            <div class="col my-4">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title fw-bolder fs-2">
                            Other Stores
                        </div>
                        <div class="row my-2">
                            {% for s in otherstores %}
                                <div class="col-6 my-2">
                                    <div class="h-50px px-3 border rounded justify-content-center align-items-center">
                                        <a href="/store/{{s.slug}}">
                                            <img src="/media/{{s.storeimg}}" alt="{{s.title}} - {{site.title}}" class="w-100">
                                        </a>
                                    </div>
									
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-9">
        <div class="row">
            {% for p in products %}
			  <!--begin::Col-->
			<div class="col-md-4 col-sm-6 col-lg-4 mb-5">
				<!--begin::Hot sales post-->
				<div class="card p-5 ribbon ribbon-top">
					<!--begin::Overlay-->
					
					<div class="ribbon-label bg-primary"> {% discountp p.original_price p.sale_price %}% Off </div>
					
					<a class="" href="/shop/{{p.slug}}">
						<!--begin::Image-->
						<center><img src="/media/{{p.thumbnail}}" class="h-200px rounded align-items-center" alt="{{p.title}}"></center>
						<!--end::Image-->
						
					</a>
					<!--end::Overlay-->
					<!--begin::Body-->
					<div class="mt-5">
						<!--begin::Title-->
						<a href="/shop/{{p.slug}}" class="fs-5 text-dark fw-bolder text-hover-primary text-dark lh-base">{{p.title | truncatechars:50}}</a>
						<!--end::Title-->
						<!--begin::Text-->
						<div class="fw-bold fs-5 text-gray-600 text-dark mt-3"></div>
						<!--end::Text-->
						<!--begin::Text-->
						<div class="fs-4 fw-bolder mt-5 d-flex flex-stack">
							<!--begin::Label-->
							<span class="badge border-dashed fs-4 fw-bolder text-dark p-2">
							{% if p.sale_price == 0 %}
							FREE
							{% else %}
							<span class="fs-6 fw-bold text-gray-400">₹</span>{{p.sale_price}}
							{% endif %}
							</span>
							
							<!--end::Label-->
							<!--begin::Action-->
							{% if p.expiry is not None and p.isexp%}
								<a href="/shop/{{p.slug}}" class="btn btn-sm btn-danger">
									Expired
								</a>
							{% else %}
							<a href="/shop/{{p.slug}}" class="btn-sm text-white btn-primary">
								{% if p.category.title == 'Amazon Quiz' or p.category.title == 'Flipkart Quiz' %}
									Play Now
								{% elif p.store.title == 'Amazon' or p.store.title == 'Flipkart' or p.store.title == 'Tata Cliq' or p.store.title == 'Paytm Mall' %}
									Buy Now 
								{% else %}
								Read More
								{% endif %}
							</a>
							{% endif %}
							<!--end::Action-->
						</div>
						<div class="float-start mt-4">
						  <i><i class="far fa-clock mx-1"></i>{{p.date | naturaltime}}</i>
						</div>
						<!--end::Text-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Hot sales post-->
			</div>
			<!--end::Col-->
			{% if adstore1 and forloop.counter|mod:'5' == 0 %}
				<div class="col-md-4 col-sm-6 col-lg-4 mb-5">
					<!--begin::Hot sales post-->
					<div class="card p-5">
						<span class="mb-2 text-center">ADVERTISEMENT</span>
						{{adstore1.adcode | safe}}
					</div>
				</div>
			{% endif %}
		{% endfor %}
            </div>
        </div>
    </div>
	<ul class="pagination my-10">
		{% if products.number != 1 and products.previous_page_number is not 1%}
	<li class="page-item next"><a class="page-link" href="/">First</span></a></li>
	{% endif %}
		{% if products.has_previous %}
		    <li class="page-item previous"><a href="?page={{products.previous_page_number}}" class="page-link">Previous</a></span></li>
		{% endif %}

    <li class="page-item disabled"><span class="page-link">Page {{products.number}} of {{products.paginator.num_pages}}</span></li>
    {% if products.has_next %}
	 <li class="page-item next"><a class="page-link" href="?page={{products.next_page_number}}">Next</span></a></li>
	{% endif %}
	{% if products.number != products.paginator.num_pages and products.next_page_number != products.paginator.num_pages %}
	<li class="page-item next"><a class="page-link" href="?page={{products.paginator.num_pages}}">Last</span></a></li>
	{% endif %}
</ul>
{% endblock content %}
    
